 .image{
     width: 50%;  
     border: 2px solid lavender;   
 }
 .single-service{
     text-align: center;
color: black;
border: 1px solid lightslategrey;
border-radius: 10px;
box-shadow: 5px 8px;
  margin: 10px;
 }
 .single-service:hover{
     background-color: slateblue;
 }
 .btn{
     background-color:blue;
     color: white;
     width: 30%;
     height: 30px;
     border: 3px solid grey;
     border-radius: 6px;
     cursor: pointer;
 }
 .btn:hover{
     background-color: gold;
 }
 .name-style{
     color: purple;
 }
 .blue{color: blue;}
 .orange{color: tomato;}
  